<mat-card>
    <mat-card-title>
        Nova Semana
    </mat-card-title>
    <form>
        <mat-form-field appearance="fill">
            <mat-label>Produto</mat-label>
            <mat-select matInput [(ngModel)]="selectedProduct" name="product" placeholder="Selecione o produto">
              <mat-option *ngFor="let product of products"
              value="{{product.id}}" >{{product.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- <mat-form-field>
            <input matInput placeholder="Produto"
            [(ngModel)]="new_week.product" name="nomeFornecedor">
        </mat-form-field> -->
        <mat-form-field>
            <input matInput placeholder="Data de Inicio"
            [(ngModel)]="new_week.date_start" name="date-start" type="date">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data de Encerramento"
            [(ngModel)]="new_week.date_end" name="date-end" type="date">
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </form>
    <button mat-raised-button color='primary' (click)='createWeek()'>
        Salvar
    </button>

    <button mat-raised-button (click)='cancel()'>
        Cancelar
    </button>
</mat-card>
