.header{
    display: flex;
    align-items: center;
    background-color: #5928B1;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 15px;
}

.logo{
    width: 50px;
}