<div class="week-date">
  <div class="date">
    <i class="material-icons">date_range</i>
    <p class="start">{{weekView.date_start}}</p>
  </div>

  <div class="date">
    <i class="material-icons">date_range</i>
    <p class="end">{{weekView.date_end}}</p>
  </div>

  <label>
    <i class="material-icons">inventory_2</i>
    PRODUTO: {{product.name|uppercase}}
  </label>
</div>

<section class="supplier-header">
  <mat-card>
    <label>FORNECEDOR: {{supplier.name}}</label>
  </mat-card>
</section>

<table>
  <th *ngFor="let day of displayedColumns">{{day}}</th>
  <tr>
    <td *ngFor="let row of dataSource">
      <mat-form-field appearance="legacy" class="quantity" floatLabel="always">
        <mat-label>{{FormactDateMonthDay(row.date)}}</mat-label>
        <input matInput [(ngModel)]="row.quantity" placeholder="-" type="number" name="quantity">
      </mat-form-field>
    </td>
  </tr>
</table>
<span class="help-text">
  <i class="material-icons">
    info
  </i>
  Selecione o dia que deseja atribuir um valor
</span>

<section class="valores">
  <mat-card>
    <label>TOTAL ({{product.unit_measurement}}): {{total}}</label>
    <label>VALOR DE COMPRA (R$): {{product.purchase_price}} </label>
    <label>VALOR TOTAL (R$): {{total}} </label>
  </mat-card>
</section>

<div class="buttons">
  <button mat-raised-button (click)='cancelar()'>
    Cancelar
  </button>

  <button mat-raised-button color='primary' (click)='salvar()'>
    Salvar
  </button>
</div>