<section class="week-date">
  <mat-form-field appearance="fill" class="date-start">
    <mat-label>INÍCIO DA SEMANA</mat-label>
    <input matInput [(ngModel)]="weekView.date_start" name="data" [matDatepicker]="picker1" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="date-end">
    <mat-label>ENCERRAMENTO DA SEMANA</mat-label>
    <input matInput [(ngModel)]="weekView.date_end" name="data" [matDatepicker]="picker2" disabled>
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</section>

<section class="supplier-header">
  <mat-card>
    <label>FORNECEDOR: {{supplier.name}}</label>
  </mat-card>
</section>

<table class="mat-elevation-z3">
  <tr class="mat-elevation-z1">
      <td *ngFor="let day of displayedColumns">{{day}}</td>
  </tr>
  <tr>
    <td *ngFor="let row of dataSource">
      <input matInput [(ngModel)]="row.quantity" placeholder="-" type="number" name="day1">
    </td>
  </tr>
</table>


<div class="buttons">
  <button mat-raised-button (click)='cancelar()'>
    Cancelar
  </button>

  <button mat-raised-button color='primary' (click)='salvar()'>
    Salvar
  </button>
</div>