@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

.new-week{
    margin-top: 80px;
    margin-left: 5%;
    margin-bottom: 10px;
}

.week-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 5%;
}

.week-date .date-start, .week-date .date-end{
    height: 50px;
}

table{
    width: 100%;
    padding: 0% 5% 0% 5%;
    font-family: "Poppins";
}

th{
    font-weight: 800;
    color: #000;
}

mat-paginator{
    padding: 5%;
    float: left;
}

.edit{
    margin-right: 10px;
}

@media (max-width:700px){

    th,td{
        font-size: 10px;
        font-weight: 500;
    }

    td i{
        font-size: 14px;
    }
}
