<button mat-raised-button color='primary' class="new-week" (click)="openDialog()">
  <i class="material-icons">
    add
  </i>
  Nova Semana
</button>

<mat-card class="week-date">
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="date">
    <i class="material-icons">date_range</i>
    <p class="start">{{weekView.date_start}}</p>
  </div>

  <div class="date">
    <i class="material-icons">date_range</i>
    <p class="end">{{weekView.date_end}}</p>
  </div>

  <label>
    <i class="material-icons">inventory_2</i>
    PRODUTO: {{product.name|uppercase}}
  </label>

  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>arrow_forward</mat-icon>
  </button>

</mat-card>

<table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name_supplier">
      <th mat-header-cell *matHeaderCellDef>NOME</th>
      <td mat-cell *matCellDef="let row">{{row.name_supplier}}</td>
    </ng-container>

    <!-- SEG Column -->
    <ng-container matColumnDef="mon">
      <th mat-header-cell *matHeaderCellDef>SEG</th>
      <td mat-cell *matCellDef="let row">{{row.day1}}</td>
    </ng-container>

    <!-- TER Column -->
    <ng-container matColumnDef="tue">
      <th mat-header-cell *matHeaderCellDef>TER</th>
      <td mat-cell *matCellDef="let row">{{row.day2}}</td>
    </ng-container>

    <!-- QUA Column -->
    <ng-container matColumnDef="wed">
      <th mat-header-cell *matHeaderCellDef>QUA</th>
      <td mat-cell *matCellDef="let row">{{row.day3}}</td>
    </ng-container>

    <!-- QUI Column -->
    <ng-container matColumnDef="thu">
      <th mat-header-cell *matHeaderCellDef>QUI</th>
      <td mat-cell *matCellDef="let row">{{row.day4}}</td>
    </ng-container>

    <!-- SEX Column -->
    <ng-container matColumnDef="fri">
      <th mat-header-cell *matHeaderCellDef>SEX</th>
      <td mat-cell *matCellDef="let row">{{row.day5}}</td>
    </ng-container>

    <!-- SAB Column -->
    <ng-container matColumnDef="sat">
      <th mat-header-cell *matHeaderCellDef>SAB</th>
      <td mat-cell *matCellDef="let row">{{row.day6}}</td>
    </ng-container>

    <!-- DOM Column -->
    <ng-container matColumnDef="sun">
      <th mat-header-cell *matHeaderCellDef>DOM</th>
      <td mat-cell *matCellDef="let row">{{row.day7}}</td>
    </ng-container>

    <!-- quantity Column -->
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>QTD</th>
      <td mat-cell *matCellDef="let row">{{row.total_qty}}</td>
    </ng-container>

    <!-- product_price Column -->
    <ng-container matColumnDef="product_price">
      <th mat-header-cell *matHeaderCellDef>PREÇO</th>
      <td mat-cell *matCellDef="let row">{{row.price | currency: 'BRL'}}</td>
    </ng-container>

    <!-- total_price Column -->
    <ng-container matColumnDef="total_price">
      <th mat-header-cell *matHeaderCellDef>TOTAL</th>
      <td mat-cell *matCellDef="let row">{{row.total_price | currency: 'BRL'}}</td>
    </ng-container>

     <!-- status Column -->
     <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>STATUS</th>
      <td mat-cell *matCellDef="let row">{{row.status}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
      <td mat-cell *matCellDef="let row">
          <a *ngIf="row.purchase_id !== 0" routerLink="editar/{{row.purchase_id}}" title="Editar" class="action-button edit">
              <i class="material-icons">
                  edit
              </i>
          </a>
          <a *ngIf="row.purchase_id == 0" routerLink="gerar-compra/{{week.product}}/{{week.id}}/{{row.supplier_id}}" title="Editar" class="action-button edit">
            <i class="material-icons">
                edit
            </i>
        </a>
          <a routerLink="pagar/{{row.purchase_id}}" title="Pagar Fornecedor" class="action-button pay">
              <i class="material-icons">
                attach_money
              </i>
          </a>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
