@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');


table{
    width: 100%;
    padding: 2% 5% 0% 5%;
    font-family: "Poppins";
}

th{
    background-color: #003049;
    color: #fff;
}

mat-paginator{
    padding: 5%;
    float: left;
}

.edit{
    margin-right: 10px;
}

@media (max-width:700px){

    th,td{
        font-size: 10px;
        font-weight: 500;
    }

    td i{
        font-size: 14px;
    }
}
