<mat-sidenav-container>
    <mat-sidenav class="sidenav container" mode="side" opened fixedInViewport="true" fixedTopGap="64"> 
        <mat-nav-list class="nav-list">
            <a class="mat-list-item" routerLink="">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a class="mat-list-item" routerLink="">
                <i class="material-icons">
                    event_available
                </i>
                Controle Semanal
            </a>
            <a class="mat-list-item" routerLink="">
                <i class="material-icons">
                    local_shipping
                </i>
                Fornecedores
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
