/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.action-button > i{
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.5em;
}

.edit > i{
    background-color: #20c573;
}

.delete > i{
    background-color: #e35e6b;
}
