/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.action-button > i{
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 1.5em;
}

.mat-create {
    background-color: #1e88e5;
    color: #fff;
}

.edit > i{
    background-color: #20c573;
}

.delete > i{
    background-color: #fc4b6c;
}

.msg-error {
    background-color: #1c1c1c;
    color: #f20b6f;
    font-weight: 500;
}

.msg-success {
    background-color: #1c1c1c;
    color: #00ac31;
    font-weight: 500;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
